<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <unity>
    <namespace name="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity" />
    <assembly name="Microsoft.Practices.EnterpriseLibrary.Common" />
    <container>
      <extension type="EnterpriseLibraryCoreExtension" />
      <register type="ILoyalty" mapTo="Loyalty"/>
      <register type="ILoyalty" mapTo="LoyaltyVIP"/>
    </container>
  </unity>
 <appSettings>
    <!--<add key="UnityRegistrationModule" value="Dependency.UnityRegistrationModule, Dependency, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
  </appSettings>
  
</configuration>